.btn {
  font-style: normal;
  font-weight: 700;
   font-size: 14px;
   line-height: 22px;
    cursor: pointer;
    transition: all 0.3s ease;
    padding: 11px 16px;
    opacity: 1;
  }
  .btn-block {
    width: 100%;
  }
  .btn-primary {
    background: #E26559;
    color: #fff;
  }
  
  .btn-primary:hover {
      background: #B55147;
    }
  
    .btn-primary:active {
      background: #883D35;
      opacity: 0.4;
      transition: all ease-in 0.2s;
    }
    .btn:disabled {
      opacity: 0.4;
      cursor:not-allowed;
       
    }
  